<section>
    <nav class="navbar navbar-expand-lg bg-white top-0 z-3 position-fixed w-100 shadow-sm mb-5">
        <div class="container-fluid">
            <div class="ms-3">
                <a class="navbar-brand" href="#"><i class="fas fa-bars me-2"></i>Panel de administración</a>
            </div>

            
            <div>
                <div class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link small" href="#"><i class="fas fa-user small me-2"></i>Administrador</a>
                    <button class="btn rounded-3 btn-outline-danger btn-sm ms-2 me-3 py-0" href="#">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </nav>
</section>