<section>
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0 z-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Panel de administración</a>
            <div class="">
                <div class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link small" href="#"><strong>Usuario:</strong> Administrador</a>
                    <button class="btn rounded-3 btn-outline-danger btn-sm ms-2 me-3" href="#">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </nav>
</section>