.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.descripcion {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3a3a3a;
}

.precio {
    font-size: 14px;
    font-weight: 700;
    color: #3a3a3a;
}

.popup{
    display: block !important;
    background-color: #eceff3a0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.etiqueta{
    font-size:10px;
    opacity: 0.75;
    border-radius: 0px 0px 8px 8px;
}

  .alert-fixed {
    position:fixed; 
    top: 5em; 
    left: 5%; 
    width: 90%;
    margin:auto;
    z-index:9999; 
    border-radius:0px
}