<section>
    <div class="container m-auto pt-5 pb-5">

        <h2 class="bt-4 mt-5 mb-5">Inventario de productos</h2>



        <app-product-filter (onFiltrar)="aplicarFiltros($event)"></app-product-filter>

        @if(mostrarAlerta){
        <div class="alert alert-success alert-fixed shadow rounded-3" role="alert">
            {{mensajeAlerta}}
        </div>
        }

        <div class="row mt-4 mb-4">
            @for(producto of productos; track producto._id){
            <div class="col-md-4 mt-4">
                <div class="card cursor border-0 bg-light rounded-4 p-3" [class.inactivo]="!producto.active"
                    (click)="mostrarModalEditarProducto(producto)">
                    <img class="rounded-4 imagenesProducto"

                        [src]="producto.image ? producto.image : 'assets/sin_imagen.jpg'" alt="Imagen del producto">
                    <div class="card-body">
                        @if(!producto.active){
                        <p class="text-white badge etiqueta bg-danger shadow-sm small position-absolute top-0 end-0 me-4">
                            INACTIVO</p>
                        }@else {
                        <p class="text-white badge etiqueta bg-success shadow-sm small position-absolute top-0 end-0 me-4">
                            ACTIVO</p>
                        }
                        <p class="mb-0 descripcion">{{producto.name}}</p>
                        <p class="mb-0 precio">{{producto.price}} €</p>
                    </div>
                </div>
            </div>}
            <div class="col-md-4 mt-4">
                <div class="card  text-center cursor border-0 bg-light rounded-4 p-3"
                    (click)="mostrarModalNuevoProducto()">
                    <div style="min-height: 400px;"
                        class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-plus fa-2x"></i>
                        <p class="mt-2 descripcion">Añadir nuevo producto</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



    @if(mostrarModal){
    <div class="modal popup bd-example-modal-lg " tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 border-0 bg-light">

                <app-product-card [productoSeleccionado]="this.productoSeleccionado"
                    (notificarMensaje)="mostrarMensajeAlerta($event)" (cerrarModal)="cerrarModal()"></app-product-card>

            </div>
        </div>
    </div>
    }

    @if(modalNuevoProducto){
    <div class="modal popup bd-example-modal-lg " tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content rounded-4 border-0 bg-light ">

                <app-product-form (cerrarModal)="cerrarModal()"
                    (notificarMensaje)="mostrarMensajeAlerta($event)"></app-product-form>

            </div>
        </div>
    </div>
    }

</section>