<section>
  <div class="p-5">

    <div class="cerrar cursor position-absolute top-0 end-0" (click)="cerrar()"><i style="font-size: 25px; color:grey;"
        class="fa-solid fa-xmark"></i></div>



    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
      <img
      [src]="modelForm.get('image')?.value ||  '/Actividad_3/assets/sin_imagen.jpg'"
      style="margin:auto; display:block; mix-blend-mode: multiply!important; width: 100%; height: 400px; object-fit: cover;"
      class="img-fluid rounded-4 remove-bg mb-4"
      alt="Vista previa"
    />
      <div class="mb-3">
        <label for="name" class="form-label small"><strong>Nombre</strong></label>
        <input id="name" type="text" class="form-control rounded-3 border-1" formControlName="name" />
        @if(checkControl('name', 'required')){
        <div class="text-danger small">El nombre es obligatorio.</div>
        }
        @if(checkControl('name', 'minlength')){
        <div class="text-danger small">El nombre debe tener al menos 3 caracteres.</div>
        }
      </div>

      <div class="mb-3">
        <label for="name" class="form-label small"><strong>Descripción</strong></label>
        <textarea id="name" rows="4" class="form-control rounded-3 border-1" formControlName="description"></textarea>
        @if(checkControl('description', 'required')){
        <div class="text-danger small">La descripción es obligatoria.</div>
        }
        @if(checkControl('description', 'minlength')){
        <div class="text-danger small">La descripción debe tener al menos 10 caracteres.</div>
        }
      </div>

      <div class="mb-3">
        <label for="price" class="form-label small"><strong>Precio</strong></label>
        <input id="price" type="number" class="form-control rounded-3 border-1" formControlName="price" />
        @if(checkControl('price', 'required')){
        <div class="text-danger small">El precio es un campo numérico obligatorio.</div>
        }
        @if(checkControl('price', 'min')){
        <div class="text-danger small">El precio debe ser mayor que 0.</div>
        }
      </div>


      <div class="mb-3">
        <label for="category" class="form-label small"><strong>Categoría</strong></label>
        <select id="category" class="form-select rounded-3 border-1" formControlName="category">
          <option value="" selected disabled>Selecciona una categoría</option>
          <option value="hombre">Hombre</option>
          <option value="mujer">Mujer</option>
          <option value="niño">Niño</option>
        </select>
        @if(checkControl('category', 'required')){
          <div class="text-danger small">Debes seleccionar una categoría.</div>
          }
      </div>



      <div class="mb-3">
        <label for="image" class="form-label small"><strong>URL de la imagen (opcional)</strong></label>
        <input id="image" type="text" class="form-control rounded-3 border-1 mb-3" formControlName="image" />
        @if(checkControl('image', 'pattern')){
          <div class="text-danger small mb-3">Debes introducir una URL válida.</div>
        }
      </div>

      <label for="image" class="form-label small"><strong>Habilitar producto</strong></label>
      <div class="form-switch">
        <input class="form-check-input me-2" type="checkbox" id="active" formControlName="active" name="active" /> <span
          class="me-3">Activo</span>
      </div>

      <button type="submit" class=" mt-4 rounded-3 btn btn-sm btn-success" [disabled]="modelForm.invalid">Añadir
        Producto</button>
    </form>



  </div>
</section>